@import url(./styles/header.css);
@import url(./styles/about-us.css);
@import url(./styles/metrics.css);
@import url(./styles/job-opportunities.css);

:root {
	--white: #ffffff;
	--gray: #667085;
	--red: #8e2424;
	--black: #101828;
	--border-color: #eaecf0;
	--font: 'Inter', sans-serif;
}

html {
	font-size: 16px;
}

body {
	background-color: var(--white);
	font-family: var(--font);
	box-sizing: border-box;
}
