@import url(./styles/header.css);
@import url(./styles/about-us.css);
@import url(./styles/metrics.css);
@import url(./styles/job-opportunities.css);
@import url(./styles/comments.css);
@import url(./styles/footer.css);

:root {
	--white: #ffffff;
	--gray: #667085;
	--red: #8e2424;
	--black: #101828;
	--border-color: #eaecf0;
	--background-color-section: rgba(196, 25, 25, 0.03);
	--border-color-input: #d0d5dd;
	--copyright-color: #98a2b3;
	--font: 'Inter', sans-serif;
}

html {
	font-size: 16px;
}

body {
	background-color: var(--white);
	font-family: var(--font);
	box-sizing: border-box;
}
