.about-us {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 5% 30% 6%;
	gap: 3em;
}

.about-us__span {
	color: var(--red);
	font-weight: 600;
	line-height: 1.5rem;
}

.about-us__title {
	font-weight: 600;
	font-size: 3rem;
	line-height: 3.75rem;
	letter-spacing: -0.02em;
	color: var(--black);
}

.about-us__text {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.875rem;
	text-align: center;
	color: var(--gray);
}
