.comments {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	background-color: var(--background-color-section);
	align-items: center;
	padding: 4rem;
	margin: 0 8em;
	border-radius: 1rem;
}

.comments > span {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--red);
}

.comments > h2 {
	font-weight: 500;
	font-size: 2.25rem;
	line-height: 2.75rem;
	color: var(--black);
	text-align: center;
}

.comments__image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.image-container__name {
	color: var(--black);
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
}

.image-container__job {
	color: var(--gray);
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
