.header {
	display: flex;
	margin: 2em 7em;
	align-items: center;
	justify-content: space-between;
}

.header__nav {
	margin-right: 20em;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 2.3em;
}

.nav-list > li > a {
	text-decoration: none;
	line-height: 24px;
	color: var(--gray);
	font-size: 16px;
}

.header__buttons {
	display: flex;
	gap: 2em;
}

.sign-in,
.sign-up {
	border: none;
	font-family: var(--font);
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	color: var(--gray);
	border-radius: 8px;
	gap: 8px;
}

.sign-in {
	background-color: transparent;
}

.sign-up {
	background-color: var(--red);
	color: var(--white);
	padding: 10px 18px;
	box-sizing: border-box;
}
